/* src/stylesheets/Apropos.css */

.apropos {
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  overflow-y: auto;
  padding-bottom: 5em; /* Espace pour éviter le chevauchement par le footer */
}

.apropos h1 {
  text-align: center;
  color: #333;
  margin-bottom: 1em;
}

.apropos p {
  margin-bottom: 1em;
  line-height: 1.6;
  color: #666;
}

.apropos h2 {
  margin-top: 2em;
  color: #333;
}

.apropos ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #666;
}

.apropos ul li {
  margin-bottom: 0.5em;
}

.apropos a {
  color: #007BFF;
  text-decoration: none;
}

.apropos a:hover {
  text-decoration: underline;
}
